:host {
    display: block;
    position: relative;
    border: 1px var(--nota-default-border-color, #fff) solid;
    padding: 10px;
    min-width: 100px;
    max-width: 50vw;
    background-color: var(--nota-default-background-color, #2257eb);
    border-radius: 5px;
    margin-top: 7px;
    color: var(--nota-default-color, #fff);
    overflow: hidden;
}

button {
    position: absolute;
    border: none;
    background: var(--nota-button-background-color, #fff5);
    color: var(--nota-button-text-color, white);
    border-bottom-left-radius: 6px;
    top: 0;
    right: 0;
}

button.notaShower {
    display: none;
}

progress {
    position: absolute;
    border: none;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    opacity: var(--nota-default-progress-opacity, 1);
    -webkit-appearance: none;
    background: transparent;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: var(--nota-default-progress-color, rgb(206, 206, 206));
}

progress::-moz-progress-bar {
    background: var(--nota-default-progress-color, rgb(206, 206, 206));
}

/* Begin Default Nota-Class Styles */
:host(.danger),
:host(.error) {
    background-color: var(--nota-danger-background-color, #ff815e);
    border-color: var(--nota-danger-border-color, #fff);
    color: var(--nota-danger-color, #fff);
}

:host(.danger) progress,
:host(.error) progress {
    opacity: var(--nota-danger-progress-opacity, inherit);
}

:host(.danger) progress::-webkit-progress-value {
    background: var(
        --nota-danger-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.danger) progress::-moz-progress-bar {
    background: var(
        --nota-danger-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.failure) {
    background-color: var(--nota-failure-background-color, #4f0019);
    border-color: var(--nota-failure-border-color, #fff);
    color: var(--nota-failure-color, #fff);
}

:host(.failure) progress {
    opacity: var(--nota-failure-progress-opacity, inherit);
}

:host(.failure) progress::-webkit-progress-value {
    background: var(
        --nota-failure-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.failure) progress::-moz-progress-bar {
    background: var(
        --nota-failure-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.warn) {
    background-color: var(--nota-warn-background-color, #d6b84b);
    border-color: var(--nota-warn-border-color, #fff);
    color: var(--nota-warn-color, #fff);
}

:host(.warn) progress {
    opacity: var(--nota-warn-progress-opacity, inherit);
}

:host(.warn) progress::-webkit-progress-value {
    background: var(
        --nota-warn-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.warn) progress::-moz-progress-bar {
    background: var(
        --nota-warn-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.success) {
    background-color: var(--nota-success-background-color, #8dbf58);
    border-color: var(--nota-success-border-color, white);
    color: var(--nota-success-color, white);
}

:host(.success) progress {
    opacity: var(--nota-success-progress-opacity, inherit);
}

:host(.success) progress::-webkit-progress-value {
    background: var(
        --nota-success-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.success) progress::-moz-progress-bar {
    background: var(
        --nota-success-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.info) {
    background-color: var(--nota-info-background-color, #58bf8c);
    border-color: var(--nota-info-border-color, white);
    color: var(--nota-info-color, white);
}

:host(.info) progress {
    opacity: var(--nota-info-progress-opacity, inherit);
}

:host(.info) progress::-webkit-progress-value {
    background: var(
        --nota-info-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}

:host(.info) progress::-moz-progress-bar {
    background: var(
        --nota-info-progress-color,
        var(--nota-default-progress-color, rgb(206, 206, 206))
    );
}
